<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Age Calculator</a>
  </div>
</nav>  



<div class="container mt-5 pt-5">
    

  <div class="form-group col-6 mx-auto">
      <label for="dob"><b>Enter your Date of Birth</b></label>
      <input type="date" class="form-control" name="dob" id="dob" [(ngModel)]="dob">
  </div>

  <div class="col-12 mt-5 text-center">
      <button type="submit" class="btn btn-success px-5" (click)="onSubmit(dob)">Check Your Age</button>
  </div>


  <div class="text-center mt-5" *ngIf="Year!=null">
      <h3 class="text-primary">Your Age is {{Year}} years {{Months}} months.</h3>
  </div>

 
</div>
